.user_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.user_container h1 {
    margin-bottom: 0.5em;
}

.user_container p{
    color: #7b7b7b;
}

.user_form_container {
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user_form_container input {
    width: 350px;
}

.btn {
    background-color: #046ee5;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}
