.footer {
    background-color: #046ee5;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: gray;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 1em;
}

.copy_right span {
    font-weight: bold;
    color: gray;
}

